button {
    /* ブラウザ特有のスタイルを無効に */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* 整える */
    margin: 1em 0;
    /* 前後の隙間 */
    padding: 0.6em 1em;
    /* 塗りの余白 */
    font-size: 1em;
    /* フォントサイズ */
    background-color: #1aa1ff;
    /* 背景色 */
    color: #FFF;
    /* テキストカラー */
    cursor: pointer;
    /* カーソルを指マークに */
    border-radius: 3px;
    /* 角の丸み */
    border: 0;
    /* 枠線を消す */
    transition: 0.3s;
    /* ホバーの変化を滑らかに */
}


/* ホバー時（カーソルをのせた時）の見た目 */

button:hover {
    background-color: #064fda;
    /* 背景色 */
}

.box {
    margin: 30px auto;
    width: 400px;
    height: 60px;
    border-radius: 5px;
    font-size: 40px;
    right: 0;
    left: 0;
    color: #f5fffa;
    text-align: center;
    background: #87cefa;
    animation: poyon 1.2s infinite;
}

@keyframes poyon {
    0% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
    15% {
        transform: scale(0.9, 0.9) translate(0%, 5%);
    }
    30% {
        transform: scale(1.3, 0.8) translate(0%, 10%);
    }
    50% {
        transform: scale(0.8, 1.3) translate(0%, -10%);
    }
    70% {
        transform: scale(1.1, 0.9) translate(0%, 5%);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0%, 0%);
    }
}

html {
    background-color: #28505D;
}

div#A {
    font-size: 15px;
    color: #f5fffa;
    right: 0;
    left: 0;
    text-align: center;
}

div#B {
    font-size: 15px;
    color: #f5fffa;
    right: 0;
    left: 0;
    text-align: center;
}

div#C {
    text-align: center;
}
